.ant-layout.layout {
  display: flex;
  justify-content: center;
  align-self: center;
}

.ant-layout-content {
  margin: auto;
  background: #fff;
  height: 300px;
  min-width: 75%;
}

body {
  background: rgba(255, 255, 255, 0.3);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  height: 100%;
}

.uploadBox {
  height: 500px;
  width: 500px;
}

body {
  overflow: hidden; /* Hide scrollbars */
}
