@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

.navbar {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.navlink {
  font-family: "Karla", sans-serif;
  color: black;
  margin: 2px;
  text-decoration: none;
}

.logoText {
  margin-right: auto;
  display: flex;
  align-items: center;
  margin-bottom: -35px;
}
